<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Fortune</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <ul class="nav justify-content-center mb-5">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        {% if userSession %}
            <li class="nav-item">
                <a class="nav-link" href="/users/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Log in</a>
            </li>
        {% endif %}
    </ul>
    {% block content %}{% endblock %}
</div>
</body>
</html>
